#ext_menu-4 .navbar-toggler {
  color: #000;
}
#ext_menu-4 .navbar-brand {
  font-size: 25px;
}
#header1-2 H1 {
  color: #ffffff;
}
#msg-box1-a H2 {
  color: #ffffff;
}
#msg-box1-a P {
  color: #ffffff;
}
#social-buttons2-9 .mbr-section-title B {
  color: #ffffff;
}
#footer1-5 P {
  text-align: center;
  color: #ffffff;
}
#content5-k .mbr-section-title {
  text-align: center;
}
#form1-i .mbr-section-title {
  color: #ffffff;
}
#msg-box5-6 .lead {
  color: #ffffff;
}
